@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red-50: 0 100% 97%;
    --red-100: 0 100% 93%;
    --red-200: 0 100% 88%;
    --red-300: 0 100% 79%;
    --red-400: 0 100% 67%;
    --red-500: 0 100% 57%;
    --red-600: 0 100% 50%;
    --red-700: 0 100% 42%;
    --red-800: 0 97% 35%;
    --red-900: 0 87% 31%;
    --red-950: 0 100% 16%;

    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --border: 214.3 32% 91%;
    --input: 214.3 32% 91%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;
    --success: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 224.3 76.3% 48%;

    --success: 142.1 70.6% 45.3%;
  }
}

@layer base {
  * {
    @apply font-sans rtl:font-arabic border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  .navbar-shadow {
    box-shadow: 0px -4.563933849334717px 11.409834861755371px 0px rgba(206, 206, 206, 0.35);
  }
}
